.collection-preview {
    display: inline-flex;
    flex-direction: column;
    width: 22%;
    margin: 5% 1.5%;

  
    .title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  